* {
    box-sizing: border-box;
}

html {
    background-color: #FFF;
}

.modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal.showModal{ 
    display: flex;
    position: absolute;
    flex-wrap: nowrap;
    z-index: 1;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all .4s;
    justify-content: center;
}

.modal-content {
    flex-wrap: nowrap;
    background-color: #fdfdfd;
    margin: auto;
    padding: 15px;
    border: 1px solid rgb(161, 160, 160);
    width: 100%;
  }

  @media screen and (min-width: 560px){
    .modal-content {
        background-color: #fdfdfd;
        margin: auto;
        padding: 15px;
        border: 1px solid rgb(163, 162, 162);
        width: 50%;
      }
  }

  .modal__text {
      flex-wrap: wrap;
      min-width: 100%;
  }
  @media screen and (min-width: 560px) {
      .modal__text{
          min-width: 70%;
      }
  }

  .modal__close {
      float: right;
      top:1.2rem;
      right: 1.2rem;
      color: #333;
      font-size: 2.5rem;
      padding-right: 1rem;
  }

  .modal__close:hover, .modal__close:focus {
      color: #000;    
      cursor: pointer;
      font-weight: 600;
      text-decoration: none;
  }

  .modal__footer {
    display: flex;
    flex-wrap: nowrap;
}

@media only screen and (min-width: 560px) {
    .modal__footer {
        width: 100%;
    }
}

  .btnGroup {
    display: flex-end;
    margin-left:auto ;
}

  .succedbtn {
      background-color: #16db47;
      text-align: center;
      padding: 0.7rem 1.2rem;
      text-decoration: none;
      border: solid 1px transparent;
      margin: 1.2rem;
    }
    
    .closebtn {
        background-color: #e22936;
        text-align: center;
        padding: 0.7rem 1rem;
        text-decoration: none;
        border: solid 1px transparent;
        margin: 0.6rem;
  }

  .succedbtn:hover, .closebtn:hover {
      cursor: pointer;
      box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
  }